@model EntityLayer.Concrete.Link
@{
    ViewData["Title"] = "LinkAdd";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Yeni Link Eklemek İster Misiniz</h1>
@using (Html.BeginForm("LinkAdd", "Link", FormMethod.Post))
{
    @Html.Label("Link Başlığı")
    @Html.TextBoxFor(x=>x.LinkTitle,new{@class="form-control"} )
    @Html.ValidationMessageFor(x=>x.LinkTitle)
    <br />

    @* @Html.Label("Kategori")
    @Html.TextBoxFor(x=>x.CategoryID,new{@class="form-control"} )
    <br /> *@

    @Html.Label("Kategori")
    @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.cm,new {@class="form-control"})
    <br />

    @Html.Label("Link")
    @Html.TextBoxFor(x=>x.LinkContent,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.LinkContent)
    <br />
    <button class="btn" style="background-color: #01cd74">Linki Kaydet</button>
}

